{% extends "FctBundle::layout.html.twig" %}
{% block content %}
    <center><div class="col-lg-4">
    {% if is_granted('ROLE_USER') %}
        <strong>
            Eres un user normal
        </strong>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <strong>
            Eres un admin to flama
        </strong>
    {% endif %}
    <div>
        <h2 >Identifícate</h2>
        <hr/>
        <form action="{{path("login_check")}}" method="post" class="text-left">
            <label>Nombre de usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control"/>
            <br>
            <center><input type="submit" value="Entrar" class="btn btn-success"/></center>
            <input type="hidden" name="_target_path" value="/login"/>
        </form>
    </div>
    <div class="clearfix"></div>
    </div></center>
{% endblock %}